@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* estructura */
html{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
.row {
    content: "";
    clear: both;
    display: flex;
    padding-bottom: 60px;
}
#fl{
    display: block;
    clear: both;
}
.column-2{
    width: 100%;
    text-align: center;
}
.column-4{
    text-align: center;
    width: 25%;
    float: left;
}
.column-3{
    width: 50%;
    float: left;
    height: 500px;
    padding: 100px;
    left: 15%;
}
/* Estilos de la estructura */

/* Estilos de imagenes */
img{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.se4{
    width: 100%;
}
/* Letras */
h1{
    font-size: 70px;
    text-align: center
}
h2{
    font-size: 60px;
}
h3{
    font-size: 40px;
}
p{
    font-size: 12px;
}
